* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  display: grid;
  grid-template:
    "header header header" auto
    "left-panel main right-panel" 1fr/
    1.5fr 4fr 2fr;
}
/* TODO: add media query to not allow expanding of side panels or make them fixed */

/* Header Section */

.header {
  align-content: center;
  grid-area: header;
  background-color: white;
  padding: 0.3rem 0.5rem;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto 1fr auto;
  gap: 1.8rem;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  border-radius: 12px;
  transition-duration: 0.4s;
}

.header button span {
  font-size: 1.4rem;
  padding: 5px;
}

.header button:hover {
  background-color: hsla(0, 0%, 91%, 0.938);
}

/* Header Left Section */

.header__left-section {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  gap: 0.5rem;
}

/* Header Search Section */

.header__search-section {
  display: grid;
  grid-auto-flow: column;
  align-content: center;
  grid-template-columns: auto 1fr auto;
}

.search-side {
  display: grid;
  place-items: center;
  background-color: whitesmoke;
  padding: 0.5rem;
}

.header__search-section__search-icon {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.header__search-section__expand {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.header__search-section input {
  border: none;
  background-color: whitesmoke;
  padding: 0.5rem 0.5rem;
  font-size: 1rem;
}

/* Header Right Section */

.header__right-section {
  display: grid;
  grid-auto-flow: column;
  place-items: center;
  gap: 0.2rem;
}

.header__right-section__profile-button {
  border: 1px solid rgb(185, 180, 180);
  border-radius: 8px;
  padding: 0.1rem 0.1rem;
}

.header__right-section__profile-button .profile-container {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
}

.profile-container img {
  border-radius: 50%;
}

.header__right-section__profile-button .profile-container span {
  font-size: 1rem;
}

/* Left Panel Section */

.left-panel {
  grid-area: left-panel;
  display: grid;
  /* gap: 0.5rem; */
}
.inbox-section {
  /* background-color: rgb(238, 135, 135); */
  display: grid;
  gap: 0.5rem;
  place-content: start;
}

.inbox-section__compose-button {
  margin-top: 1rem;
  margin-left: 5px;
  border: 1px solid #dcdcdc;
  border-radius: 20px;
  box-shadow: 1px 0.5px 1px #dcdcdc;
}

.inbox-section__compose-button button {
  padding: 0.5rem;
  font-size: 14px;
  color: #545a61;
  display: grid;
  grid-auto-flow: column;
  gap: 10px;
  align-items: center;
}

.compose-mail-icon {
  width: 25px;
  margin-top: -2px;
}

.inbox-section ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.inbox-section a {
  text-decoration: none;
  color: #5f6368;
}

.inbox-section span {
  color: #5f6368;
  padding: 0.5rem;
}

.inbox-section__item {
  padding-right: 50px;
  display: grid;
  grid-template-columns: 20px 1fr;
  gap: 20px;
  align-items: center;
}

.inbox-section li:hover {
  background-color: #fce8e6;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

/* Google Meetings Section */

.meetings-section {
  background-color: rgb(160, 179, 238);
  padding: 0.5rem;
}

/* Main Section */

.main {
  grid-area: main;
  display: grid;
  grid-template-rows: auto 1fr;
}

.mail-size-section {
  background-color: lightcyan;
  padding: 0.5rem;
}

.mail-section {
  background-color: whitesmoke;
  padding: 0.7rem;
}

/* Right Panel Section */

.right-panel {
  grid-area: right-panel;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr auto;
}

.settings {
  background-color: lightgoldenrodyellow;
  padding: 0.5rem;
}

.widgets {
  background-color: rgb(241, 224, 202);
  padding: 0.5rem;
}
